
.filter {

  /* border: 1px solid red; */

  margin: 10px 0 0 10px;

  width: 50px;

  background: #252525;

  padding: 10px;

  color: #fff;

  border-radius: 10px;

  transition: 0.5s;

}
.filter:hover, #upload-area button:hover{

  transform: translateY(-5px);
  
  cursor: pointer;
  
  }
  
